In [1]:
!pip install kaggle

Collecting kaggle
  Downloading kaggle-1.7.4.5-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: bleach in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (6.2.0)
Requirement already satisfied: certifi>=14.05.14 in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (2025.10.5)
Requirement already satisfied: charset-normalizer in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (3.3.2)
Requirement already satisfied: idna in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (3.7)
Requirement already satisfied: protobuf in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (5.29.3)
Requirement already satisfied: python-dateutil>=2.5.3 in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: python-slugify in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (5.0.2)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (2.32.3)
Requirement already satisfied: setuptools>=21.0.0 in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (72.1.0)
Requirement already satisfied: six>=1.10 in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (1.17.0)
Requirement already satisfied: text-unidecode in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (1.3)
Requirement already satisfied: tqdm in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (4.67.1)
Requirement already satisfied: urllib3>=1.15.1 in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (2.3.0)
Requirement already satisfied: webencodings in /opt/anaconda3/lib/python3.13/site-packages (from kaggle) (0.5.1)
Downloading kaggle-1.7.4.5-py3-none-any.whl (181 kB)
Installing collected packages: kaggle
Successfully installed kaggle-1.7.4.5

In [5]:
import kaggle

#download dataset from kaggle

!kaggle datasets download ankitbansal06/retail-orders -f orders.csv

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /Users/shubham/.kaggle/kaggle.json'
Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
orders.csv: Skipping, found more recently modified local copy (use --force to force download)

In [7]:
#extract zip file

import zipfile

zip_ref = zipfile.ZipFile('orders.csv.zip')
zip_ref.extractall()
zip_ref.close()

In [26]:
#read data from file and handle null values

import pandas as pd

df = pd.read_csv('orders.csv', na_values = ['Not Available', 'unknown'])
# df.head(10)

In [35]:
#rename column names from upper case to lower case

df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ', '_')
# df.head(5)

In [36]:
#create new column for the discount amount given

df['discount'] = df['list_price']*df['discount_percent']*.01
# df.head(5)

df['sale_price'] = df['list_price']- df['discount']
df['profit'] = df['sale_price'] - df['cost_price']

# df.head(10)

In [37]:
#convert order_data object to date

df['order_date'] = pd.to_datetime(df['order_date'],format = "%Y-%m-%d")
df.dtypes
df.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1

In [44]:
# drop cost, list price and discount percent columns

# df.dtypes
df.drop(columns=['list_price', 'cost_price', 'discount_percent'],inplace=True)

In [45]:
df.head(2)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,quantity,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,3,21.9,708.1,108.1

In [54]:
#connect to mysql

# import pandas as pd
import sqlalchemy as sal
from sqlalchemy import create_engine

# Create SQLAlchemy engine
engine = create_engine("mysql+mysqlconnector://root:rootpassword@127.0.0.1:3306/project_self")
conn = engine.connect()

In [52]:
# !pip install pymysql
#!pip install mysql-connector-python

In [56]:
#load data to mysql

df.to_sql('df_orders', con=conn, index=False, if_exists='append')

9994